<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="ttntm">
<meta name="description" content="A customizable start page for your browser.">
<title>>_ START SOMETHING...</title>
{# INCLUDE INLINE STYLES from '.src/_includes/css.njk' #}
<style>
  {% include "css.njk" %}
</style>
